# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\大三\小学期实践\鲲鲲组-拾光书屋-资料提交\代码\web系统\web后端\前台\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
